@import '../../node_modules/flexboxgrid-sass/flexboxgrid.scss';

$fontsize: 16;

body {
	background: #EDEDED;
	font-size: 16px;
}

h1 {
	font-size: (45 / 16) * 1rem;
}

h2 {
	font-size: (45 / 16) * 1rem;
}

h3 {
	font-size: (45 / 16) * 1rem;
}

h4 {
	font-size: (45 / 16) * 1rem;
}

h5 {
	font-size: (45 / 16) * 1rem;
}

h6 {
	font-size: (45 / 16) * 1rem;
}	

p {
	font-size: (20 / 16) * 1rem;
}
